:root {
    --white: white;
    --black: black;
    --blue: #3f3fff;
    --red: #f53a36;

    --bg-color: #f4ede6;
    --secondary-bg-color: #abbaca;
    --tertiary-bg-color: #cf9475;

    --border-radius: 5px;

    --font-size-big: 25px;
    --font-size-medium: 18px;
    --font-size-small: 12px;
}

/* TODO: fix content shifts on all screen sizes */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-medium);
    height: 100%;
    background-color: var(--bg-color);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer {
    display: flex;
    gap: 50px;
}

h1 {
    font-size: var(--font-size-big);
    text-align: center;
}

body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    line-height: 1.5;
}

img {
    display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
    &:hover {
	background-color: var(--bg-color);
    }
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    height: fit-content;
    padding: 5px;
}

.img-row {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.graph-image {
    background-color: white;
    padding: 5px;
}


.stage {
    color: var(--blue);
}

.turbidity {
    color: var(--red);
}

.hidden {
    display: none!important;
}

.top-ui-row {
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;;
}

.top-button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    width: 400px;
}

.now-button {
    &.past-view {
	background-color: var(--tertiary-bg-color);
    }

    width: 125px;
}


.data-line-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin: 5px;
  
    div {
	display: flex;
	flex-direction: column;
	gap: 8px;
    }

    .value, .unit {
	font-weight: 700;
    }

    .unit {
	margin-left: 3px;
    }
}

@media (min-width: 1413px) {
    /* Big screen */
}

@media (max-width: 1412px) {
    /* Medium screen */
}

@media (max-width:  800px) {
    /* Small screen */
    img {
	width: 100%;
    }

}
